---
import Layout from "../layouts/Layout.astro";
---

<script>
    window.location.href = "https://discord.gg/urxFjYmYYh"
</script>
<Layout>
    <p class="mt-auto h-full flex justify-center items-center text-xs text-center">Redirecting...</p>
</Layout>