---
import Layout from "../layouts/Layout.astro";
---

<script>
    window.location.href = "https://ko-fi.com/iahispano"
</script>
<Layout>
      {/* background glow effect */}
  <div class="fixed inset-0 flex justify-center items-center">
    <div
      class="bg-white/5 h-[50vh] w-[50vh] rounded-full blur-3xl animate-spin"
    >
    </div>
  </div>
    <p class="mt-auto h-full flex justify-center items-center text-xs text-center">Redirecting...</p>
</Layout>