---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="flex flex-col items-start justify-center max-w-5xl mx-auto p-12 pt-6 text-sm">
    <a href="/" class="hover:underline text-sm cursor-pointer">Go back</a>
    <h1 class="text-3xl font-bold text-neutral-200 mt-4">Terms of Use</h1>
    <section class="mt-4 text-neutral-300">
        <h2 class="text-2xl font-semibold text-neutral-200">Responsibilities of the User</h2>
        <p>By using Applio, you agree to the following responsibilities:</p>
        <ol class="list-disc list-inside">
            <li>
                <strong>Respect Intellectual Property and Privacy Rights</strong>
                <ul class="list-disc list-inside ml-4">
                    <li>Ensure that any audio or material processed through Applio is either owned by you or used with explicit permission from the rightful owner.</li>
                    <li>Respect copyrights, intellectual property rights, and privacy rights of all individuals and entities.</li>
                </ul>
            </li>
            <li>
                <strong>Avoid Harmful or Unethical Use</strong>
                <ul class="list-disc list-inside ml-4">
                    <li>Do not use Applio to create or distribute content that harms, defames, or infringes upon the rights of others.</li>
                    <li>Avoid any activities that may violate ethical standards, promote hate speech, or facilitate illegal conduct.</li>
                </ul>
            </li>
            <li>
                <strong>Adhere to Local Laws and Regulations</strong>
                <p>Familiarize yourself with and comply with the laws and regulations governing the use of AI, voice transformation tools, and generated content in your jurisdiction.</p>
            </li>
        </ol>
    </section>
    <section class="mt-4 text-neutral-300">
        <h2 class="text-2xl font-semibold text-neutral-200">Disclaimer of Liability</h2>
        <p>Applio and its contributors disclaim all liability for any misuse or unintended consequences arising from the use of this tool.</p>
        <ul class="list-disc list-inside">
            <li><strong>No Warranty</strong>: Applio is provided "as is" without any warranty, express or implied.</li>
            <li><strong>User Responsibility</strong>: You bear full responsibility for how you choose to use Applio and any outcomes resulting from that use.</li>
            <li><strong>No Endorsement</strong>: Applio does not endorse or support any activities or content created with this tool that result in harm, illegal activity, or unethical practices.</li>
        </ul>
    </section>
    <section class="mt-4 text-neutral-300">
        <h2 class="text-2xl font-semibold text-neutral-200">Permitted Use Cases</h2>
        <p>Applio is designed for:</p>
        <ul class="list-disc list-inside">
            <li><strong>Personal Projects</strong>: Experimentation and creative endeavors for personal enrichment.</li>
            <li><strong>Academic Research</strong>: Advancing scientific understanding and education.</li>
            <li><strong>Investigative Purposes</strong>: Analyzing data in lawful and ethical contexts.</li>
            <li><strong>Commercial Use</strong>: Creating content for commercial purposes, provided that appropriate rights and permissions are obtained and all legal and ethical standards are adhered to.</li>
        </ul>
    </section>
    <section class="mt-4 text-neutral-300">
        <h2 class="text-2xl font-semibold text-neutral-200">Prohibited Activities</h2>
        <p>The following uses are explicitly prohibited:</p>
        <ul class="list-disc list-inside">
            <li><strong>Harmful Applications</strong>: Generating audio to defame, harm, or manipulate others.</li>
            <li><strong>Unauthorized Distribution</strong>: Sharing content that violates copyrights or the rights of others.</li>
            <li><strong>Deceptive Practices</strong>: Creating content intended to deceive or defraud others.</li>
        </ul>
    </section>
    <section class="mt-4 text-neutral-300">
        <h2 class="text-2xl font-semibold text-neutral-200">Training Data</h2>
        <p>All official models distributed by Applio have been trained under publicly available datasets such as <a href="https://huggingface.co/datasets/IAHispano/Applio-Dataset" class="text-blue-500 hover:text-blue-700">VCTK</a>.</p>
        <p>We strive to maintain transparency and ethical practices in the development and distribution of our tools.</p>
    </section>
    <section class="mt-4 text-neutral-300">
        <h2 class="text-2xl font-semibold text-neutral-200">Amendments</h2>
        <p>Applio reserves the right to modify these terms at any time. Continued use of the tool signifies your acceptance of any updated terms.</p>
    </section>
    </div>
</Layout>
