---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col items-start justify-center max-w-5xl mx-auto p-12 pt-6 text-sm">
    <a href="/" class="hover:underline text-sm cursor-pointer">Go back</a>
    <h1 class="text-3xl font-bold text-neutral-200 mt-4">Applio App - Closed Alpha for Windows</h1>
    <section class="my-4 text-neutral-400">
        <h2 class="text-2xl font-semibold text-neutral-200 mb-1">What is Applio App?</h2>
        <p>Applio App is the <span class="text-neutral-200 font-semibold">executable version of Applio</span>, designed <span class="text-neutral-200 font-semibold">with a completely redesigned interface</span> to be more intuitive, modern and easy to use. It <span class="text-neutral-200 font-semibold">offers easy installation</span> through an installer and combines <span class="text-neutral-200 font-semibold">new AI-based functionalities</span> with essential tools such as inference, model downloading and training, keeping the essence of Applio in a streamlined experience.</p>
        <img src="https://i.imgur.com/auSEyUx.png" alt="Applio App home section" class="w-full rounded-xl mt-4" /> 
    </section>
    <section class="my-4 text-neutral-400">
        <h2 class="text-2xl font-semibold text-neutral-200 mb-1">Amazing new features</h2>
        <p>We are developing Applio App as a hub full of <span class="text-neutral-200 font-semibold">new functionalities</span>, completely optional and customizable. Our goal is to save you as much time as possible, so you'll find everything you need to make inferences efficiently. Among these tools is a <span class="text-neutral-200 font-semibold">new audio editor</span>, designed to allow you to precisely select the exact part of your audio where you want to perform the inference.</p>
        <img src="https://i.imgur.com/3h83iSf.png" alt="Applio App audio editor section" class="w-full rounded-xl my-4" />
        <p>Download an audio directly from the internet or import one from your computer, and <span class="text-neutral-200 font-semibold">extract vowels easily with Ultimate Vocal Remover</span> (UVR), all without leaving Applio App.</p> 
        <img src="https://i.imgur.com/NMEURxe.png" alt="Applio App uvr section" class="w-full rounded-xl mt-4" /> 
    </section>
    <section class="my-4 text-neutral-400">
        <h2 class="text-2xl font-semibold text-neutral-200 mb-1">App customization</h2>
        <p>Customize the application as you wish! You can rename your models, add images to them and even change the color of the interface to completely adapt it to your style.</p>
        <img src="https://i.imgur.com/IO9UNRQ.png" alt="Applio App models section" class="w-full rounded-xl mt-4" />
        <img src="https://i.imgur.com/bLxXoAC.png" alt="Applio App settings section" class="w-full rounded-xl mt-4" />
    </section>
    <section class="my-4 text-neutral-400">
        <h2 class="text-2xl font-semibold text-neutral-200 mb-1">A reimagined installation</h2>
        <p>We have spent months of work to make installing Applio App a simple and hassle-free experience. Now, <span class="text-neutral-200 font-semibold">the process is easier than ever</span>. First, you can install Applio App with a single click, quickly and simply. Then, the <span class="text-neutral-200 font-semibold">RVC installation is fully integrated into the app</span>, which means you only need to click a button and your computer will take care of the rest. Finally, downloading pre-trained models is even easier: <span class="text-neutral-200 font-semibold">in less than a minute</span>, your PC will install all the models needed for inference and training. That's how simple it is to get started with Applio App!</p>
        <img src="https://i.imgur.com/e1WKWi9.png" alt="Applio App Installer" class="w-full rounded-xl mt-4" />
        <img src="https://i.imgur.com/51xmOQN.png" alt="Applio App Installer finished" class="w-full rounded-xl mt-4" />
        <p class="text-neutral-500 text-xs text-center mt-2">*Pre-release images. Final product may vary.</p>
    </section>
    <section class="my-6 text-neutral-300" id="beta">
        <h2 class="text-2xl font-semibold text-neutral-200 mb-1">Where can I download Applio App?</h2>
        <p>Applio App is <span class="text-neutral-200 font-semibold">under active development</span> and is currently <span class="text-neutral-200 font-semibold">in a closed alpha phase for Windows</span>. You can join and contribute to its evolution starting today. You just need to <a class="text-blue-400 hover:text-blue-500 transition-all duration-200 underline hover:underline font-semibold" href="https://tally.so/r/312aLQ" target="_blank">complete this form to sign up</a>. And remember, if you are a <a class="text-neutral-200 font-semibold underline hover:text-white" href="https://ko-fi.com/iahispano" target="_blank">Supporter</a> you <span class="text-neutral-200 font-semibold">get instant access</span> to our new application!</p> 
    </section>
    </div>
</Layout>