@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffff;
  background-color: #110F0F;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.read-font {
  font-family: 'Poppins', sans-serif;
}

.slow {
  transition: .3s cubic-bezier(0,.7,.4,1);
}


.dropdown:hover .dropdown-menu {
  display: block;
}